body {
    margin:0;
}

.center {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: purple;
    border:none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor:pointer;
    border-radius: 16px;
    display: inline-block;
    margin: 4px 2px;
}
.overlay {
    height: 100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0,5s;
}

.overlay-content {
    position: relative;
    top:25%;
    width:100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding:8px;
    text-decoration: none;
    font-size: 36px;
    color:#818181;
    display:block;
    transition: 0,3s;
}
  
  
.overlay a:hover, .overlay a:focus {
    color: aliceblue;
}
.overlay.close{
    position: absolute;
    top:20px;
    right:45px;
    font-size:60px;
}

.responsive {
    width: 100%;
    height: auto;
  }
  
li 
{
    float: left;
    width:calc(100%/4);    
}

li a 
{
float: left;
color: purple;
text-align: center;
padding: 14px 16px;
text-decoration:none;
font-weight: bold;

}
li a:hover:not(.active) {
    background-color:rgb(20, 19, 19);
    list-style-type: none;
    color:purple;
    font-weight:bold;
}
.active {
    background-color: rgb(20, 19, 19);
    font-weight: bold;
    list-style-type: none;
    color:purple;
   
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}



 
  